<!--================ Hero banner start =================-->
<a [routerLink]="['/carrito']" [routerLinkActive]="'active'" class="float">
  <i class="fas fa-shopping-cart my-float"></i>
  </a>
<main  class="site-main">
  <section class="hero-banner">
    <div class="container">
      <div class="row no-gutters align-items-center pt-60px">
        <div class="col-5 d-none d-sm-block">
          <div class="hero-banner__img">
            <img class="img-fluid" src="assets/banner.jpg" alt="">
          </div>
        </div>
        <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
          <div class="hero-banner__content">
            <h4>{{inicio_subtitulo}}</h4>
            <h1>{{inicio_titulo}}</h1>
            <p>{{inicio_descripcion}}</p>
            <a class="button button-hero"[routerLink]="['/productos']">{{inicio_btnComprar}}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ trending product section start ================= -->
  <section class="section-margin mt-0">
    <div class="container">
      <div class="section-intro pb-60px">
        <p>{{inicio_manualPopular}}</p>
        <h2>{{inicio_productos}} <span class="section-intro__style">{{inicio_vendidos}}</span></h2>
      </div>
      <div class="row">
        <div *ngFor="let manual of productos" class="col-md-6 col-lg-4 col-xl-3">
          <div class="card text-center card-product">
            <div class="card-product__img">
              <img height="200px" width="200px" class="card-img" [src]="url+'avatar/'+manual.image" alt="">
              <ul class="card-product__imgOverlay">
                <li><button (click)="aumentarCantidad(manual)"><i class="ti-shopping-cart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>{{manual.author}}</p>
              <h4 class="card-product__title"><a [routerLink]="['/detalle',manual._id]" >{{manual.title}}</a></h4>
              <p class="card-product__price">$ {{manual.price}} MXN</p>
            </div>
          </div>
        </div>

      </div>
    </div>
      <!-- ================ trending product section end ================= -->

  </section>


  <!-- ================ offer section start ================= -->
  <section class="offer skrollable skrollable-before" id="parallax-1" data-anchor-target="#parallax-1"
    data-300-top="background-position: 20px 30px" data-top-bottom="background-position: 0 20px"
    style="background-position: 20px 30px;">
    <div class="container">
      <div class="row">
        <div class="col-xl-5">
          <div class="offer__content text-center">
            <h3>Los mejores manuales al mejor precio</h3>
            <a class="button button--active mt-3 mt-xl-4" [routerLink]="['/productos']">Comprar ahora</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<ng-template>
    <div class="modal-header">
        <h4 class="modal-title">
            <span></span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <p> <span></span></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>

    </div>
</ng-template>

