<div class="product_image_area">
  <div class="container">
    <div class="row ">
      <div class="col-lg-6">
        <div class="owl-carousel owl-theme">
                <div class="">
                  <img width="400px" height="482px" class="" [src]="srcImage" alt="">
                </div>
        </div>
      </div>
      <div *ngIf="productos[0]" class="col-lg-5 offset-lg-1" >
        <div class="s_product_text">
          <h3>{{productos[0].title}}</h3>
          <h2>${{productos[0].price}} MXN</h2>
          <ul class="list">
            <li><a class="active"><span>Autor</span>: {{productos[0].author}}</a></li>
            <li><a><span>Existencia</span> :  {{productos[0].stock}}</a></li>
          </ul>
          <p>{{productos[0].description}}</p>
          <div class="product_count">
            <a style="color: white;cursor: pointer;" onMouseOut="this.style.color='white'" onMouseOver="this.style.color='black'" class="button primary-btn" (click)="aumentarCantidad(productos[0])">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section  class="product_description_area">
  <div class="container">
    <div class="tab-content" id="myTabContent">
      <div *ngIf="identity" class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col-lg-6">
            <div class="comment_list">
              <div *ngFor="let comentario of manual.comentarios" class="review_item">
                <div class="media">
                  <div class="d-flex">
                    <img [src]="url+'avatar/'+comentario.user.image" alt="">
                  </div>
                  <div class="media-body">
                    <h4>{{comentario.user.name}}</h4>
                    <h5>{{comentario.date | amLocal | amTimeAgo }}</h5>
                  </div>
                </div>
                <p>{{comentario.content}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="review_box">
              <h4>Post a comment</h4>
              <form #mensajeForm="ngForm" (submit)="onSubmit(mensajeForm)" class="row contact_form" >
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea name="content" #content="ngModel" [(ngModel)]="comentario.content" class="form-control" rows="5" name="message" id="message"
                      required placeholder="Comentario"></textarea>
                  </div>
                </div>
                <div class="col-md-12 text-right">
                  <button [disabled]="!mensajeForm.form.valid" type="submit" value="submit" class="btn btn-primary">
                    <i *ngIf="cargando?true:false"
                    class="fas fa-pulse fa-circle-notch"></i>{{btnText}}</button>
                </div>
                <div *ngIf="status=='success'" class="col-md-12">
                  <br>
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{mensaje}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
