<section class="blog-banner-area" id="contact">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Acerca de nosotros</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Nuestra visión</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<section class="section-margin--small">
  <div class="container">
    <p>
      Nuestro proyecto pretende hacerse
      como una librería de manuales, guías y
      ofrecer una ventana al mundo haciendo uso de las herramientas
      que la tecnología nos ofrece como nexo de unión con autores y lectores
      a través de las redes sociales. Desde un primer momento hemos tenido presencia
      en Facebook, Twitter e Instagram para recomendar manuales y anunciar novedades
      que vamos adquiriendo para hacer crecer nuestro catálogo. En la actualidad estamos evolucionando nuestro Blog
      hacia una tienda OnLine ante el reto que ha supuesto la pandemia de 2020 para la supervivencia de Anaïs Libros. En
      el futuro pretendemos que la Tienda OnLine sea complementaria a nuestra actividad principal que es la de atender a
      los lectores en el local físico y continuar realizando regularmente todo tipo de actividades culturales alrededor
      del mundo del libro como hasta ahora, con alguna idea nueva que estamos madurando.
    </p>
  </div>
</section>

