<div class="content-header">
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0 text-dark">{{page_title}}</h1>
    </div>
  </div>
</div>
</div>
<div class="card">
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Autor</th>
          <th>Tecnología</th>
          <th>Miniatura</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of manual">
          <td>{{item.title}}</td>
          <td>{{item.description}}</td>
          <td>$ {{item.price}} MXN</td>
          <td>{{item.stock}}</td>
          <td>{{item.author}}</td>
          <td>{{item.technology}}</td>
          <td><img height="70px" width="70px" [src]="url+'avatar/'+item.image" ></td>
          <td><a [routerLink]="['editar',item._id]" class="badge bg-primary">Editar</a></td>
          <td><a style="cursor:pointer" (click)="delete(item._id)" class="badge bg-danger">Eliminar</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
