<div class="content-header">
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0 text-dark">Dashboard</h1>
    </div>
  </div>
</div>
</div>
<div class="card">
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Titulo</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Autor</th>
          <th>Tecnología</th>
          <th>Miniatura</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td>Update software</td>
          <td>uatur minus eveniet veritatis ad assumenda quis repudiandae voluptates quo enim molestias fuga ratione accusantium eaque, dolore facilis.</td>
          <td>$100 MXN</td>
          <td>30</td>
          <td>Fernando Ku</td>
          <td>Node JS</td>
          <td><img height="70px" width="70px" src="../../../../assets/banner.jpg"></td>
          <td><span class="badge bg-primary">Editar</span></td>
          <td><span class="badge bg-danger">Eliminar</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
  <div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-right">
      <li class="page-item"><a class="page-link" href="#">«</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">»</a></li>
    </ul>
  </div>
</div>
